<html>
  <head>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
<body>

 
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
      <ul class="nav side-menu">
          <li>
              <a href=""><i class="fa fa-home gold"></i> Dashboard </a>
          </li>
          <li>
              <a><i class="fa fa-tags gold"></i> Clients <span class="fa fa-chevron-down gold"></span></a>
              <ul class="nav child_menu">
                  <li><a href="">Manage Clients</a></li>
                 
                
                  <li><a href="">Account Handlers</a></li>
                  <li><a href="">Pending Approval for Clients</a></li>
                  <li><a href="">Upload Clients Updates</a></li>
               
              </ul>
          </li>
          <li>
              <a><i class="fa fa-product-hunt gold"></i> Brands <span class="fa fa-chevron-down gold"></span></a>
              <ul class="nav child_menu">
                  <li><a href="">Manage Brands</a></li>
              
                      <li><a href="">Pending Approval for Brands Updates</a></li>
                      <li><a href="">Upload Brands List Updates</a></li>
               
              </ul>
          </li>
          
          
          <li>
              <a><i class="fa fa-money gold"></i> Cost Estimates<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
          
                  <li><a href="">Media CE's</a></li>
                  <li><a href="">Update Media CE's</a></li>
            
                  <li><a href="">Production CE's</a></li>
                  <li><a href="">Completed Prod CE's</a></li>
                  <li><a href="">Update Production CE's</a></li>
                
                     <li><a href="">Pending Approval for CE Updates</a></li>
                      <li><a href="">Upload New CE</a></li>
               
              </ul>
          </li>
          
          
          <li>
              <a><i class="fa fa-barcode gold"></i>Billings <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
              
                  <li><a href="">Media Billings</a></li>
           
                 <li><a href="">Production Billings</a></li>
                
                  <li><a href="">Pending Approval for Billing Uploads</a></li>
                  <li><a href="">Upload New Billings</a></li>
               
              </ul>
          </li>
          <li>
              <a><i class="fa fa-bar-chart-o gold"></i>Reports<span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
               
                      <li><a href="">Generate Media Report</a></li>                        
                                
                  <li><a href="">Generate Production Report</a></li>
               
                      <li><a href="">Generate Revenue Report</a></li>
                  
                  <li><a href="">Report History</a></li>
              </ul>
          </li>
          <li>
              <a><i class="fa fa-upload gold"></i> Upload Logs <span class="fa fa-chevron-down"></span></a>
              <ul class="nav child_menu">
                  <li><a href="">Manage Upload Logs</a></li>
              </ul>
          </li>
          

              <li>
                  <a><i class="fa fa-gears gold"></i> Finance Setting <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                      <li><a href="">List of Settings</a></li>
                  </ul>
              </li>
       <li>
                  <a><i class="fa fa-trash gold"></i> Reset Data <span class="fa fa-chevron-down"></span></a>
                  <ul class="nav child_menu">
                      <li><a href="">Confirm Reset</a></li>
                  </ul>
              </li>
     
      </ul>
  </div>
 
</div>
</body>
</html>
