<div class="col-md-4">
  <div class="panel panel-default">
      <div class="panel-heading">
          <i class="fa fa-money"></i> <strong>Cost Estimate Overview</strong>
      </div>
      <div class="panel-body">
          <div class="list-group">
              <a href="" target="_blank" class="list-group-item">
                  <i class="fa fa-tv gold"></i> Active Media CEs
                  <span class="pull-right label label-success font1Point"><em>320</em></span>
              </a>
              <a href="" target="_blank" class="list-group-item">
                  <i class="fa fa-tv gold"></i> Closed Media CEs
                  <span class="pull-right label label-danger font1Point"><em>240</em></span>
              </a>
              <a href="" target="_blank" class="list-group-item">
                  <i class="fa fa-video-camera gold"></i> Active Production CEs
                  <span class="pull-right label label-success font1Point"><em>220</em></span>
              </a>
              <a href="" target="_blank" class="list-group-item">
                  <i class="fa fa-video-camera gold"></i> Closed Production CEs
                  <span class="pull-right label label-danger font1Point"><em>110</em></span>
              </a>
          </div>
      </div>
  </div>
</div>