
<div class="container">
    <div class="row">
        <div class= "col-xs-12 col-md-6 col-lg-12">
           <div class="row tile_count">
               <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                   <span class="count_top"><i class="fa fa-users"></i> My Clients</span>
                   <div class="count blue">140</div>
               </div>
               <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                   <span class="count_top"><i class="fa fa-product-hunt"></i> My Brands</span>
                   <div class="count blue">250</div>
               </div>
               <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                   <span class="count_top"><i class="fa fa-money"></i> My Cost Estimates</span>
                   <div class="count gold">120</div>
               </div>
               <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                   <span class="count_top"><i class="fa fa-area-chart"></i> My Invoices</span>
                   <div class="count gold">220</div>
               </div>
               <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
               </div>
           </div>
       <div class="col-md-4">
       <app-client-brand-overview></app-client-brand-overview>
       </div>
       
       <div class="col-md-4">
         <app-cost-estimate-overview></app-cost-estimate-overview>
       </div>
       
       <div class="col-md-4">
         <app-billing-overview></app-billing-overview>
       </div>



       <div class="row">
          <div class="col-xs-12 col-md-6">
        <app-recent-media-ce></app-recent-media-ce>
          </div>
        
        
          <div class="col-xs-12 col-md-6">
        <app-recent-prod-ce></app-recent-prod-ce>
            </div>
        
          </div>
  




       
       </div>
       
       </div>

</div>






