<div class="col-md-4">
  <div class="panel panel-default">
      <div class="panel-heading">
          <i class="fa fa-barcode"></i> <strong>Billing Overview</strong>
      </div>
      <div class="panel-body">
          <div class="list-group">
              <a href="" target="_blank" class="list-group-item">
                  <i class="fa fa-tv gold"></i> Media Invoices
                  <span class="pull-right label label-success font1Point"><em>200</em></span>
              </a>
              <a href="" target="_blank" class="list-group-item">
                  <i class="fa fa-video-camera gold"></i> Production Invoices
                  <span class="pull-right label label-success font1Point"><em>110</em></span>
              </a>
              <a href="" target="_blank" class="list-group-item">
                  <i class="fa fa-tv gold"></i> Paid Media Invoices
                  <span class="pull-right label label-info font1Point"><em>150</em></span>
              </a>
              <a href="" target="_blank" class="list-group-item">
                  <i class="fa fa-tv gold"></i> Unpaid Media Invoices
                  <span class="pull-right label label-warning font1Point"><em>500</em></span>
              </a>
              <a href="" target="_blank" class="list-group-item">
                  <i class="fa fa-video-camera gold"></i> Paid Production Invoices
                  <span class="pull-right label label-info font1Point"><em>600</em></span>
              </a>
              <a href="" target="_blank" class="list-group-item">
                  <i class="fa fa-video-camera gold"></i> Unpaid Production Invoices
                  <span class="pull-right label label-warning font1Point"><em>542</em></span>
              </a>

          </div>
      </div>
  </div>
</div>