<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-tv"></i> <strong>Recent Media CEs</strong>
        <span class="pull-right"><a href="">See All</a></span>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
                <table class="table table-striped">
                        <tr>
                            <th class="text-center">Created Date</th>
                            <th class="text-center">CE No</th>
                            <th class="text-center">Gross Base</th>
                            <th class="text-center">View</th>
                        </tr>
                     
                            <tr class="text-center">
                                <td>Created Date</td>
                                <td>EstimateNo</td>
                                <td class="strongFont gold">EstimateGrossBase</td>
                                <td class="strongFont gold">
                                    <a href="" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                    
            </td>
                            </tr>
                       
                    </table>
        </div>
    
       
    </div>
</div>