
  <div class="panel panel-default">
      <div class="panel-heading">
          <i class="fa fa-tags"></i> <strong>Client & Brand Overview</strong>
      </div>
      <div class="panel-body">
          <div class="list-group">
              <a href="" target="_blank" class="list-group-item">
                  <i class="fa fa-group gold"></i> Active Clients
                  <span class="pull-right label label-success font1Point"><em>120</em></span>
              </a>
              <a href="" target="_blank" class="list-group-item">
                  <i class="fa fa-user-times redtext"></i> Inactive Clients
                  <span class="pull-right label label-danger font1Point"><em>240</em></span>
              </a>
              <a href="" target="_blank" class="list-group-item">
                  <i class="fa fa-product-hunt gold"></i> Active Brands
                  <span class="pull-right label label-success font1Point"><em>250</em></span>
              </a>
              <a href="" target="_blank" class="list-group-item">
                  <i class="fa fa-product-hunt gold"></i> Inactive Brands
                  <span class="pull-right label label-danger font1Point"><em>400</em></span>
              </a>

          </div>
      </div>
  </div>
